.max-container-width {
  max-width: 1280px;
  margin: 2em auto;
}

h1 {
  font-size: $h1-size;
}

h3 {
  font-size: $h3-size-small;
  line-height: 150%;
  margin-bottom: 0.75rem;
}
h1,
h2,
h3,
h4,
p {
  color: $color-black;
}

section {
  margin-bottom: 2rem;
  padding: 2rem 1rem;
}

.section-hero {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1em;
  grid-template-areas: "header" "discription" "icon";
  justify-items: center;

  h2 {
    grid-area: header;
  }
  img {
    grid-area: icon;
  }
  p {
    grid-area: discription;
  }
  @media (min-width: $min-width) {
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas: "header icon discription";
  }
}
.section-posts {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 2em auto;
}
.redirect-arrow {
  /*https://codepen.io/carlodflores/pen/dgexJw*/
  i {
    display: inline-block;
    background: $color-black;
    height: 2px;
    width: 30px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    top: -4px;

    &:before,
    &:after {
      content: "";
      background: $color-black;
      position: absolute;
      height: 2px;
      width: 7px;
    }

    &:before {
      right: -1px;
      bottom: -2px;
      transform: rotate(-45deg);
    }

    &:after {
      right: -1px;
      top: -2px;
      transform: rotate(45deg);
    }
  }
}
