#updates-section {
  article {
    h3 {
      color: $color-pink-strong;
    }
    p {
      margin-left: 2em;
    }
  }
  .redirect-arrow {
    color: $color-pink-strong;
    i {
      background: $color-pink-strong;
      &:before,
      &:after {
        background: $color-pink-strong;
      }
    }
  }
}
