$min-width: 768px;

$color-black: #0e172c;
$color-white: #fffffe;
$color-offwhite: #f9f8fc;
$color-grayish: #d9d4e7;
$color-tertiary: #a786df;
$color-pink-light: #fecddb;
$color-pink-strong: #f683a4;

// font sizes
$h1-size: 3rem;
$h1-size-small: 1.75rem;
$h3-size-small: 1.5rem;

// Border Radius
$bRadius: 3px;
