html,
body {
  color: var(--black);
  background-color: var(--white);
}

html,
body {
  height: 100%;
}

a {
  color: var(--black);
  text-decoration: none;
}
p {
  a {
    color: var(--pink-74);
    span {
      color: var(--pink-74);
    }
  }
}
.max-main-width {
  max-width: 1280px;
  margin: 0 auto;
}
.min-main-height {
  min-height: 25em;
}

.hero {
  padding-block: 1.75rem 4rem;
}
.container {
  padding-block: 4rem;
}
.hero,
.container {
  padding-inline: 1.75rem;
}

.first-word,
.second-word {
  display: block;
}
.second-word {
  margin-left: 64px;
}

.container__link {
  max-width: 425px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  h4 {
    display: inline-block;
    flex: 1 0 auto;
  }
}

.redirect-arrow {
  /*https://codepen.io/carlodflores/pen/dgexJw*/
  i {
    display: inline-block;
    background: var(--black);
    height: 2px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    top: 3px;

    &:before,
    &:after {
      content: "";
      background: var(--black);
      position: absolute;
      height: 2px;
      width: 7px;
    }

    &:before {
      right: -1px;
      bottom: -2px;
      transform: rotate(-45deg);
    }

    &:after {
      right: -1px;
      top: -2px;
      transform: rotate(45deg);
    }
  }
}
h1::selection,
h1::-moz-selection,
h2::selection,
h2::-moz-selection,
h3::selection,
h3::-moz-selection,
h4::selection,
h4::-moz-selection,
h5::selection,
h5::-moz-selection,
h6::selection,
h6::-moz-selection,
a::selection,
a::-moz-selection,
p::selection,
p::-moz-selection,
span::selection,
span::-moz-selection,
del::selection,
del::-moz-selection,
strong::selection,
strong::-moz-selection,
em::selection,
em::-moz-selection,
pre::selection,
pre::-moz-selection,
li::selection,
li::-moz-selection,
img::selection,
img::-moz-selection {
  background-color: var(--pink-74);
  color: var(--black);
}

.wrapper-max-width {
  max-width: 720px;
  margin: 4rem auto 0px;
}
