footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 8rem 1rem 5rem;
  background-color: var(--black);
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    &__logo {
      stroke: var(--white);
    }
    &__logo,
    &__logo svg {
      width: 5rem;
      height: 5rem;
    }
    &__name {
      color: var(--white);
    }
  }
}
