@import url('./normalize.css');
@import url('./_variables.css');
@import url('./_typography.css');
@import url('./_font.css');

html,
body {
  color: var(--black);
  background-color: var(--white);
}

html,
body {
  height: 100%;
}
