.full-post {
  &__title {
    text-align: center;
  }
  &__tags {
    text-align: center;
  }
  &__thumbnail {
    margin: 1em auto 2em auto;
    width: 100%;
  }
  a {
    color: var(--pink-74);
  }
  img.aligncenter {
    margin: 0px auto;
    display: block;
  }
}
