#update {
  .container__link {
    color: var(--pink-74);
    i,
    i:before,
    i:after {
      background-color: var(--pink-74);
    }
  }

  .container__posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6rem;
    width: 100%;
    margin-bottom: 4rem;
  }

  @media (min-width: 768px) {
    padding-block: 10rem;
    .container__posts {
      margin-block: 6rem;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 6rem;

      &__item {
        max-width: clamp(20rem, 13.6vw + 17.3rem, 26rem);
      }
    }
    .container__link {
      max-width: 748px;
      h4 {
        margin-right: 2rem;
      }
    }
  }
}

.container__posts {
  &__item {
    &__heading {
      color: var(--pink-74);
      margin-bottom: 1rem;
    }
    &__copy {
      margin-left: 3rem;
      a {
        color: var(--pink-74);
      }
    }
  }
}
