#video {
  background-color: var(--pink-90);
  .container__posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  @media (min-width: 768px) {
    padding-block: 10rem;
    .container__posts {
      margin-block: 6rem;
      flex-direction: row;
      justify-content: center;

      gap: 6rem;

      &__item,
      &__item__image {
        width: 100%;
        max-width: clamp(20rem, 25vw + 15rem, 31rem);
      }
    }
    .container__link {
      max-width: 748px;
      h4 {
        margin-right: 2rem;
      }
    }
  }
}

.container__posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item {
    position: relative;
    max-width: 320px;
    min-width: 20em;
    &__image {
      max-width: 320px;
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
    }

    &__overlay {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000000 100%);
      display: grid;
      place-content: center;

      &__button {
        position: relative;
      }
      &__link {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: var(--white);
      }
    }
  }
}
