
<div class="intro">
    <h2 class="intro__heading"><span class="first-word">{{ title1 }}</span><span class="second-word">{{ title2 }}</span></h2>
    <p class="intro__copy">{{ content }}</p>
    <img class="intro__flower" src="{{ theme.link }}/images/logo-small.svg" alt="Nina Müller Logo in small" width="40" height="40"> 
</div>
