<div class="container__posts">
	{% block content %}
		{% for post in posts %}
			<div class="container__posts__item">
				<img class="container__posts__item__image" src="{{ function('get_yt_video_thumbnail', post.meta('yt_url')) }}" alt="youtube thumbnail image" width="320" height="180">
				<a class="container__posts__item__overlay" href="{{ post.link }}" target="_blank">
					<img class="container__posts__item__overlay__button" src="{{ theme.link }}/images/play-button.svg" alt="video play button" width="32" height="32">
					<h4 class="container__posts__item__overlay__link">{{ post.title }}</h4>
				</a>
			</div>
		{% endfor %}
	{% endblock %}
</div>
